.letter {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 2.5rem;
    font-size: 3rem;
    font-weight: 400;
    padding: .6rem;
    margin: .1rem;
    display: inline-block;
}

.board {
    margin: 0 auto;
    text-align: center;
}

.keyboard-row {
    margin: 3 auto;
    text-align: center;
}

.button {
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: .3rem;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 1.3rem;
    font-size: 1.2rem;
    padding: .1rem;
    margin: .1rem;
    text-align: center;
    display: inline-block;
}

.button-correct {
    background-color: lightseagreen;
    cursor: not-allowed;
}

.button-wrong {
    background-color: lightcoral;
    cursor: not-allowed;
}

.button:hover:not(.button-correct):not(.button-wrong) {
    background-color: lightcyan;
}

.gallows {
    top: 50%;
    width: 20%;
    margin:  0 auto;
    text-align: center;
    font-size: xx-large;
}