.banner {
    text-align: center;
}

.keyboard-row {
    margin: 3 auto;
    text-align: center;
}

.button {
    background-color: #0000AA;
    border: 1px solid #AAAAAA;
    border-radius: .3rem;
    color: white;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 1.3rem;
    font-size: 1.2rem;
    padding: .6rem;
    margin: .1rem;
    text-align: center;
    display: inline-block;
}

.button:hover:not(.button-correct):not(.button-wrong) {
    background-color: #0000FF;
}

.button-correct {
    background-color: #00AA00;
}

.button-wrong {
    background-color: #AA0000;
}

.gallows {
    margin:  0 auto;
    text-align: center;
    font-size: x-large;
}

.reset {
    margin: 0 auto;
    text-align: center;
}

.winner-loser {
    margin: 0 auto;
    text-align: center;
}